@font-face {
   font-family: 'Myfont-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Sofia/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-12-19_142557/fonts/Myfont-Regular/font.ttf');
}
